@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Iso&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


table, th, td { border: 1px solid #b8b8b8; }
table { border-collapse: collapse; }
::-webkit-scrollbar {
  width: 5px;  /* 세로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
  background: #cecece; /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}
.swiper-pagination-bullet-active {
  --swiper-pagination-color: #8ab0ef;
}