@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > article {
    max-width: 1440px;
}

.mainText {
    padding: 230px 0px 0px;
}
.mainText > .textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainText > .textBox > p {
    color: #fff;
    font-size: 80px;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
.mainText > .textBox > p:nth-child(1) {
    margin-bottom: 30px;
}
.mainText > .textBox > p > .word {
    color: #e4ba00;
}
.mainText > .textBox > p > .cursor {
    height: 60px;
    width: 4px;
    display: inline-block;
    background-color: #fff;
    margin-left: 5px;
    animation: .8s infinite ease-in-out cursor;
}

@keyframes cursor {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
  }